<!DOCTYPE html>
{%load static%}
{%load crispy_forms_tags%}
<html lang="en">
<head>
  <title>{%block title_block%} All Students {%endblock%}</title>
  <meta charset="utf-8">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'firstapp:home'%}">Home</a>
      </li>
     <!-- 
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#"  id="dropdownMenuLink" data-toggle="dropdown" >
       
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="">Write Blog</a>
        <a class="dropdown-item" href="">My Blogs</a>
        <a class="dropdown-item" href="">Your Profile</a>
        <a class="dropdown-item" href="" >Logout</a>
      </div>
      
    </div>
    -->

    <li class="nav-item ">
      <a class="nav-link" href="{%url 'firstapp:profile'%}">Student Registration</a>
    </li>
 
  </div>

</ul>
</nav>
<div class="container" style="padding-top: 20px;">
{% block body_block %}

{% endblock %}

</div>



</body>
</html>